<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyderes Skills Assessment</title>
</head>
<body>
    <h1>Cyderes Skills Assessment</h1>
    <p>The following API provides a path that allows an IP address or a Domain to be passed along with the base URL. The API will return a JSON format file with all data from <a href="https://whois.whoisxmlapi.com/">Whois API</a>. </p>
    <section>
        <p>To get started, please provide a search parameter (URL or Domain) following the template below:</p>
        <p style="text-decoration: underline;">https://cyderes-api-gw-aa2v0pof.wl.gateway.dev/api/ <span style="font-weight: bold;">[IP_OR_DOMAIN]</span> </p>
    </section>
    <section>
        <p>Sample Request for the domain "google.com":</p>
        <p><a href="https://cyderes-api-gw-aa2v0pof.wl.gateway.dev/api/google.com">https://cyderes-api-gw-aa2v0pof.wl.gateway.dev/api/google.com</a></p>
        <p>Sample Request for the IP address "69.63.176.13":</p>
        <p><a href="https://cyderes-api-gw-aa2v0pof.wl.gateway.dev/api/69.63.176.13">https://cyderes-api-gw-aa2v0pof.wl.gateway.dev/api/69.63.176.13</a></p>
    </section>
</body>
</html>